<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Practica de formulario CRUD</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    
 	<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />
 	
  </head>

  <body>
	
	<div class="container">
	
		<h1>Hola usuario</h1>
		<br/>
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Telefono</th>
						<th>Ciudad</th>
						<th>Accion</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact:${contacts}">
						<td th:text="${contact.firstname}"></td>
						<td th:text="${contact.lastname}"></td>
						<td th:text="${contact.telephon}"></td>
						<td th:text="${contact.city}"></td>
						<td>
						
						<a href="#" th:href="@{/contacts/contactform?id=__${contact.id}__}">
							<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
						</a>
						
						<a href="#" th:href="@{/contacts/removecontact?id=__${contact.id}__}">
							<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		  <div th:if="${result==1}" class="alert alert-success" role="alert">Added successfully</div>
		  <div th:if="${result==0}" class="alert alert-danger" role="alert">Error adding contact</div>
		  
		<a href="#" th:href="@{/contacts/contactform?id=0}">
		<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add contact</button>
		</a>
		
		
		<form th:action="@{/logout}" method="POST">
	     	<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</button>			
		</form>
	</div>


</body>
</html>