<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Practica de formulario CRUD</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>Formulario de contacto</h1>
			<br/>
			<form action="#" th:action="@{/contacts/addcontact}" th:object="${contactModel}" method="post">
			<input type="hidden" th:field="*{id}"/>
				Nombre: <input type="text" class="form-control" th:field="*{firstname}" th:value="${firstname}"></input>
				<br/>
				Apellido: <input type="text" class="form-control" th:field="*{lastname}" th:value="${lastname}"></input>
				<br/>
				Telefono: <input type="text" class="form-control" th:field="*{telephon}" th:value="${telephon}"></input>
				<br/>
				Ciudad: <input type="text" class="form-control" th:field="*{city}" th:value="${city}"></input>
				<br/>
				<br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar
				</button>
			
			</form>
			<a href="#" th:href="@{/contacts/cancel}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
				</button>
				
			</a>
		</div>
	</div>

</body>
</html>